* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f172a;
}

.navbar {
  width: 100%;
  background: #1e293b;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #38bdf8;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  transition: 0.4s;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
  color: #38bdf8;
}

/* Hamburger (hidden by default) */
#menu-toggle {
  display: none;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    width: 200px;
    height: 100vh;
    background: #1e293b;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 50px;
    gap: 25px;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    right: 0;
  }
}
